.github/**
.vscode/**
.vscode-test/**
adrs/**
assets/**
!assets/logo/vignette.png
dist/**
node_modules/**
src/**

.adr-dir
.all-contributorsrc
.gitignore
.travis.yml
wallaby.js
jest.config.js
yarn-error.log

**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts